
@font-face {
	font-family: 'Bebas Neue Bold';
	src: url('../fonts/BebasNeueBold/bebas_neue_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/BebasNeueBold/bebas_neue_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/BebasNeueBold/bebas_neue_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/BebasNeueBold/bebas_neue_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/BebasNeueBold/bebas_neue_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/BebasNeueBold/bebas_neue_bold.svg#bebas_neue_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('../fonts/myriad/myriadpro-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/myriad/myriadpro-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/myriad/myriadpro-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/myriad/myriadpro-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/myriad/myriadpro-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/myriad/myriadpro-regular.svg#myriadpro-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

.main-navigation {
    font-family: "Bebas Neue Bold", Arial, sans-serif;

}

.test{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 6px 0px rgba(34, 30, 31, 0.41);
  position: absolute;
  left: 150px;
  top: 827px;
  width: 1500px;
  height: 3583px;
  z-index: 15;
}

.main-footer {
	width: 1800px;
	height: 777px;
	background-image: url();
	background-repeat: repeat;
}

.Rectangle_9 {
  background-color: rgb(33, 33, 33);
  opacity: 0.749;
  position: absolute;
  left: 0px;
  top: -2px;
  width: 1832px;
  height: 76px;
  z-index: 246;
}
